---
import Layout from "../../layouts/Layout.astro";
import AddDogForm from "../../components/dogs/AddDogForm";
---

<Layout title="Dodaj psa">
  <div class="container mx-auto px-4 py-8">
    <AddDogForm client:load />
  </div>
</Layout>


